.heading {
  text-shadow: 2px 2px 2p darkblue;
  font-family: "Aladin";
  font-size: 50px;
  text-align: center;
  color: white;
}
input[type="radio"] {
  border: none;
  margin-top: 7px;
}
input[type="submit"] {
  border: none;
  width: 90%;
  height: 30px;
  margin-top: 40px;
  background-color: rgb(24, 24, 82);
  border-radius: 4px;
  color: white;
  font-family: "Aladin";
  font-size: 15px;
  margin-left: 40px;
}
body{
  background-color: black;
}
.question {
  padding-left: 10px;
  margin-top: 20px;
  font-family: "Josefin Sans";
  font-size: 25px;
}
.options {
  padding-left: 60px;
}
.result {
  text-align: center;
  margin-left: 350px;
  margin-top: 200px;
  width: 700px;
  height: 150px;
  background-color: rgb(204, 204, 204);
  box-shadow: 5px 10px 8px 10px #888888;
  border-radius: 2px;
}
.scorehead {
  text-shadow: 2px 2px 2px #162472;
  font-size: larger;
  font-family: "Aladin";
  font-size: 40px;
}
.scores {
  margin-top: 30px;
  font-family: "Josefin Sans";
  font-size: 25px;
}
.loading{
  border-radius: 4px;
  box-shadow:  3px 7px 5px 7px #888888;
  background-color: white;
  margin-top: 70px;
}
